{% extends "_base.html" %}

{% block content %}
{% load static %}

<!-- breadcrumb -->
<div class="container py-4 flex items-center gap-3">
    <a href="../index.html" class="text-primary text-base">
        <i class="fa-solid fa-house"></i>
    </a>
    <span class="text-sm text-gray-400">
        <i class="fa-solid fa-chevron-right"></i>
    </span>
    <p class="text-gray-600 font-medium">Change Password</p>
</div>
<!-- ./breadcrumb -->

<!-- wrapper -->
<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">

    <!-- sidebar -->
    {% include "user/partials/sidebar.html" %}
    <!-- ./sidebar -->

    <!-- info -->
    <div class="col-span-9 shadow rounded px-6 pt-5 pb-7">
        <h4 class="text-lg font-medium capitalize mb-4">
            Change Password
        </h4>
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mt-4">
                {{field.label_tag}}
                {{field}}
                {{field.errors}}
            </div>
            {% endfor %}

            <div class="mt-4">
                <button type="submit"
                    class="py-3 px-4 text-center text-white bg-primary border border-primary rounded-md hover:bg-transparent hover:text-primary transition font-medium">save
                    changes</button>
            </div>
        </form>

    </div>
    <!-- ./info -->

</div>
<!-- ./wrapper -->
<!-- templates/index.html -->




{% endblock content %}